.navbar {
	margin-bottom: 0;
	background-color: white;
	opacity: 0.8;
}

header {
	background: url("../img/banner.png");
	background-size: cover;
	height: 30em;
}

.layout {
	column-count: 4;
	column-gap: 1em;
	-moz-column-count: 4;
	-moz-column-gap: 1em;
	-webkit-column-count: 4;
	-webkit-column-gap: 1em;
	margin-top: 2em;
}

.dvd-layout {
	column-count: 1;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail {
	display: inline-block;
	width: 90%;
	padding: 0.5em;
}

.thumbnail img {
	margin-bottom: 1em;
}

.thumbnail p {
	text-align: justify;
}

input[type=text] {
	width: 40%;
}

.dvd-layout div {
	margin-top: 1em;
}

.dvd-instruct {
	margin-top: 1em;
}

.dvd-instruct h4 {
	margin-bottom: 2em;
}