.navbar {
	margin-bottom: 0;
}

header {
	background: url("../img/banner.png");
	background-size: cover;
	background-position: center center;
	height: 30em;
	border-bottom: solid 3px black;
}

footer {
	background-color: black;
}

.dvd-layout {
	column-count: 1;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	width: 40%;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail {
	display: inline-block;
	width: 90%;
	padding: 0.5em;
}

.thumbnail img {
	margin-bottom: 1em;
}

.thumbnail p {
	text-align: justify;
}

input[type=text] {
	width: 40%;
}

.dvd-layout div {
	margin-top: 1em;
}

.dvd-instruct {
	margin-top: 1em;
}

.dvd-instruct h4 {
	margin-bottom: 2em;
}

.animate {
	transition: all 2s ease-in;
}

.animate-repeat {
	line-height:40px;
	list-style:none;
	box-sizing:border-box;
}
 
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
	-webkit-transition:all linear 0.5s;
	transition:all linear 0.5s;
}
 
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
	opacity:0;
	max-height:0;
}
 
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
	opacity:1;
	max-height:40px;
}