.layout {
	column-count: 4;
	column-gap: 1em;
	-moz-column-count: 4;
	-moz-column-gap: 1em;
	-webkit-column-count: 4;
	-webkit-column-gap: 1em;
	margin-top: 2em;
}

.dvd-layout {
	column-count: 1;
	-moz-column-count: 1;
	-webkit-column-count: 1;
	width: 25%;
	margin-left: auto;
	margin-right: auto;
}

.thumbnail {
	display: inline-block;
	width: 90%;
}

.thumbnail img {
	margin-bottom: 1em;
}

input[type=text] {
	width: 40%;
}

.dvd-layout div {
	margin-top: 1em;
}