<div class="dvd-instruct">
	<div class="text-center" ng-class="done">
		
		<h4>Generate a random movie recommendation that is currently released on DVD!</h4>
	
		<button class="btn btn-primary" ng-click="generateDvd()">
			<span data-ng-hide="loading">Generate</span>
			<span data-ng-show="loading">Generating <i class="fa fa-spinner fa-spin"></i></span>
		</button>
	</div>
</div>

<div class="col-md-4 col-md-offset-4">
	<div ng-repeat="dvd in dvds">
		<div class="thumbnail">
			<h4 class="caption"><a href="{{dvd.links.alternate}}" target="_blank">{{ dvd.title }}</a></h4>		
			<img width="55px" ng-src="{{dvd.posters.detailed}}" alt="{{dvd.title}}">
			<p><strong>Audience Score:</strong> {{ dvd.ratings.audience_score }}</p>
			<p>{{ dvd.synopsis }}</p>
		</div>
	</div>
</div>