<div class="text-center">
	<h2><i class="fa fa-search"></i>Movie Search</h2>
	
	<form name="searchForm" novalidate ng-submit="submit()">
		<input type="text" name="query" placeholder="search" ng-model="query" required /><input type="submit" />
	
		<div>
			<span class="error" ng-if="searchForm.$submitted && searchForm.query.$error.required">Please enter a movie title above!</span>
		</div>
	</form>
</div>

<div class="text-center">
	{{searchResultsMsg}}
</div>

<br />

<table class="table table-bordered table-striped" ng-show="formSubmitted">
	<thead>
		<tr>
			<td>
				Poster
			</td>
			<td>
				<a ng-click="sortType='title'; sortReverse=!sortReverse">Movie Name
					<span ng-show="sortType=='title' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType=='title' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</td>
			<td>
				<a ng-click="sortType = 'ratings.audience_score'; sortReverse = !sortReverse">Audience Score
					<span ng-show="sortType == 'ratings.audience_score' && !sortReverse" class="fa fa-caret-down"></span>
					<span ng-show="sortType == 'ratings.audience_score' && sortReverse" class="fa fa-caret-up"></span>
				</a>
			</td>
			<td>
				Synopsis
			</td>
		</tr>
	</thead>

	<tbody>
		<tr class="animate-repeat" ng-repeat="movie in movies | orderBy: sortType:sortReverse">
			<td><img width="55px" ng-src="{{movie.posters.detailed}}" alt="{{movie.title}}"></td>
			<td><a href="{{movie.links.alternate}}" target="_blank">{{ movie.title }}</a></td>
			<td>{{ movie.ratings.audience_score }}</td>
			<td>{{ movie.synopsis }}</td>
		</tr>
	</tbody>
</table>